importFrom("graphics", "abline", "lines", "par", "plot", "points","title")
importFrom("stats", "acf", "arima", "cancor", "cor", "cov", "dnorm", "filter", "is.ts", "lm", "nlm", "nlminb", "optim", "pchisq","pf", "pnorm", "predict", "princomp", "printCoefmat", "pt","qnorm", "quantile", "residuals", "t.test", "var")
import("mvtnorm")
import("Rcpp")
import("fGarch")
import("fBasics")
export('apca')
export('archTest')
export('backtest')
export('BEKK11')
export('Btfm2')
export('BVAR')
export('ccm')
export('comVol')
export('Corner')
export('dccFit')
export('dccPre')
export('diffM')
export('Eccm')
export('ECMvar')
export('ECMvar1')
export('EWMAvol')
export('FEVdec')
export('GrangerTest')
export('hfactor')
export('Kronfit')
export('Kronid')
export('Kronpred')
export('Kronspec')
export('MarchTest')
export('MCHdiag')
export('MCholV')
export('Mlm')
export('mq')
export('msqrt')
export('mtCopula')
export('MTSdiag')
export('MTSplot')
export('Mtxprod')
export('Mtxprod1')
export('PIwgt')
export('PSIwgt')
export('refECMvar')
export('refECMvar1')
export('refKronfit')
export('refREGts')
export('refSCMfit')
export('refsVARMA')
export('refVAR')
export('refVARMA')
export('refVARX')
export('refVMA')
export('refVMAe')
export('REGts')
export('REGtspred')
export('RLS')
export('SCCor')
export('SCMfit')
export('SCMid')
export('SCMid2')
export('SCMmod')
export('sVARMA')
export('sVARMACpp')
export('sVARMApred')
export('SWfore')
export('tfm')
export('tfm1')
export('tfm2')
export('VAR')
export('VARMA')
export('VARMAcov')
export('VARMACpp')
export('VARMAirf')
export('VARMApred')
export('VARMAsim')
export('VARorder')
export('VARorderI')
export('VARpred')
export('VARpsi')
export('VARs')
export('VARX')
export('VARXirf')
export('VARXorder')
export('VARXpred')
export('Vech')
export('VechM')
export('VMA')
export('VMACpp')
export('VMAe')
export('VMAorder')
export('VMAs')
export('Vmiss')
export('Vpmiss')
useDynLib(MTS, .registration = TRUE)